
<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
  <div class="col">

    <form autocomplete="off" [formGroup]="miFormulario"
        (ngSubmit)="submitFormulario ()" >

      <!--nombre-->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input 
            type="text" 
            class="form-control" 
            formControlName="nombre"
            placeholder="Nombre del Usuario">

            <span *ngIf="campoNoValido('nombre')"
             class="form-text text-danger"> 
              Debe de ser en formato de nombre y apellido
            </span>
        </div>
      </div>

      <!--Email-->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input 
            type="email" 
            class="form-control" 
            formControlName="email"
            placeholder="Email del Usuario">

            <span *ngIf="campoNoValido('email')" 
             class="form-text text-danger"> 
             {{emailErrorMsg}}
            </span>

           
        </div>
      </div>

      <!--Username-->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input 
            type="text" 
            class="form-control" 
            formControlName="username"
            placeholder="nombre codigo del usuario">

            <span *ngIf="campoNoValido('username')"
            class="form-text text-danger"> 
             El username no puede ser strider
           </span>

        </div>
      </div>

      
      <!--Password-->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input 
            type="password" 
            class="form-control" 
            formControlName="password"
            placeholder="Password">
            
            <span *ngIf="campoNoValido('password')"
            class="form-text text-danger"> 
             La longitud minima es de 6 caracteres
           </span>

        </div>
      </div>

      <!--Password2-->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password 2</label>
        <div class="col-sm-9">
          <input 
            type="password" 
            class="form-control" 
            formControlName="password2"
            placeholder="Confirmar la contraseña">
            
            <span *ngIf="campoNoValido('password2')"
            class="form-text text-danger"> 
             Las contraseñas deben de ser iguales
           </span>

        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end"
            [disabled]="miFormulario.pending"
            type="submit">
            Crear
          </button>
        </div>
      </div>

    </form>

  </div>
</div>

<h2>Form Valid: {{miFormulario.valid}}</h2>
<h3>Form Errors:</h3>
<h5> {{miFormulario.errors |json}}</h5>

<h3>Form Status:</h3>
<h5> {{miFormulario.status |json}}</h5>

<h3>Nombre</h3>
<pre>{{miFormulario.controls['nombre'].errors |json}} </pre>

<h3>email</h3>
<pre>{{miFormulario.controls['email'].errors |json}} </pre>

<h3>Username</h3>
<pre>{{miFormulario.controls['username'].errors |json}} </pre>


<h3>Password</h3>
<pre>{{miFormulario.controls['password'].errors |json}} </pre>